// Sass for the GameDetail component goes here.
.GameDetail--root {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,0.50);
  .GameDetail--container {
    width: 45em;
    max-height: 90vh;
    position: relative;
    top: 10%;
    margin: auto;
    padding: 1em;
    text-align: left;
    background-color: #efefef;
    border-radius: 1em;
    div {
      display: flex;
      justify-content: space-between;
    }
    img, h2 {
      display: inline;
    }
    table {
      margin-right: 1em;
      border-collapse: collapse;
    }
    ul {
      overflow-y: auto;
      list-style: none;
    }
    tr:first-child {
      border-bottom: 1px solid black;
    }
    td:first-child {
      border-right: 1px solid black;
    }
    span {
      margin: 0 auto;
      width: 40%;
    }
    h4 {
      margin: 0 2em;
    }
    h3 {
      border-bottom: 1px solid black;
    }
  }
}
