// Sass for the GameDetail component goes here.
.GameDetail--root {
  vertical-align: middle;
  text-align: left;
  width: 60%;
  height: 40vh;
  position: fixed;
  top: 30vh;
  left: 20%;
  background-color: #efefef;
  border-radius: 1em;
  div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  img, h2 {
    display: inline;
  }
  table {
    margin-right: 1em;
    border-collapse: collapse;
  }
  ul {
    list-style: none;
  }
  tr:first-child {
    border-bottom: 1px solid black;
  }
  td:first-child {
    border-right: 1px solid black;
  }
  span {
    margin: 0 auto;
    width: 40%;
    border: 1px solid black;
  }
  h4 {
    margin: 0 2em;
  }
}
